<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastramento de Clientes</li>
</ol>

<div class="container">
    
   <form #clienteForm="ngForm" (ngSubmit)="onSubmit()"> 

       <!--  MENSAGENS -->
       <div class="row">
           <div class="col-md-12">
               
               <!--  MENSAGEM DE SUCESSO  -->
               <div class="alert alert-success" role="alert" *ngIf="success == true">
                   Cliente salvo com sucesso!
               </div>
                
                <!--  MENSAGEM DE ERRO  -->
              <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
               {{ erro }}
              </div>

        </div>
    </div>
  
    <!--  INPUT ID -->
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
               <label>ID:</label>
               <input type="text"
                class="form-control"
                name="id"
                (ngModel)="cliente.id"
                disabled="true"/>
           </div>
         </div>

         <!--  INPUT DATA DE CADASTRO  -->
         <div class="col-md-6">
            <div class="form-group">
                <label>Data do Cadastro:</label>
                <input type="text"
                 class="form-control"
                 name="dataCadastro"
                 (ngModel)="cliente.dataCadastro"
                 disabled="true"/>
            </div>
          </div>

       </div>

       <!--  INPUT NOME -->
       <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <label>Nome: *</label>
              <input type="text" 
              class="form-control" 
              [(ngModel)]="cliente.nome"
              name="nome" 
              placeholder="Digite seu nome"/>
          </div>
        </div>

        <!--  INPUT CPF  -->
        <div class="col-md-6">
            <div class="form-group">
                <label>CPF: *</label>
                <input type="text" 
                 class="form-control"
                 name="cpf" 
                 [(ngModel)]="cliente.cpf" 
                 placeholder="digite seu CPF"/>
            </div>
          </div>

      </div>
      
      <!--  BOTÃO SALVAR  -->
      <div class="row">
          <div class="col-md-2">
              <button type="submit" class="btn btn-success">
                  <i class="fa fa-save"></i> Salvar
              </button>
          </div>
      </div>
   </form>
</div>