<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ cliente.id ? 'Editar Cliente' : 'Cadastramento de Clientes' }}</li>
</ol>

<div class="container">
    
   <form #clienteForm="ngForm" (ngSubmit)="onSubmit()"> 

       <!--  MENSAGENS -->
       <div class="row">
           <div class="col-md-12">
               
               <!--  MENSAGEM DE SUCESSO  -->
               <div class="alert alert-success" role="alert" *ngIf="success == true">
                   Cliente salvo com sucesso!
               </div>
                
                <!--  MENSAGEM DE ERRO  -->
              <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
               {{ erro }}
              </div>

        </div>
    </div>
  
    <!--  INPUT ID -->
       <div class="row" *ngIf="cliente.id">
         <div class="col-md-6">
           <div class="form-group">
               <label>ID:</label>
               <input type="text"
                class="form-control"
                [ngModel]="cliente.id"
                name="id"
                disabled="true"/>
           </div>
         </div>

         <!--  INPUT DATA DE CADASTRO  -->
         <div class="col-md-6">
            <div class="form-group">
                <label>Data do Cadastro:</label>
                <input type="text"
                 class="form-control"
                 [ngModel]="cliente.dataCadastro"
                 name="dataCadastro"
                 disabled="true"/>
            </div>
          </div>

       </div>

       <!--  INPUT NOME -->
       <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <label>Nome: *</label>
              <input type="text" 
              class="form-control" 
              [(ngModel)]="cliente.nome"
              name="nome" 
              placeholder="Digite seu nome"/>
          </div>
        </div>

        <!--  INPUT CPF  -->
        <div class="col-md-6">
            <div class="form-group">
                <label>CPF: *</label>
                <input type="text" 
                 class="form-control"
                 name="cpf" 
                 [(ngModel)]="cliente.cpf" 
                 placeholder="digite seu CPF"/>
            </div>
          </div>

      </div>
      
      <div class="row">
          <!--  BOTÃO SALVAR  -->
          <div class="col-md-3">
              <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
                  <i class="fa fa-save"></i> Salvar
                </button>
                
                <!--  BOTÃO ATUALIZAR  -->
              <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
                  <i class="fa fa-sync-alt"></i> Atualizar
              </button>

              <!--  BOTÃO CANCELAR  -->
              <button type="button" class="btn btn-danger ml-2" (click)="voltarParaListagem()">
                <i class="fas fa-arrow-circle-left"></i> Voltar
              </button>

          </div>
      </div> 
   </form>
</div>