<h1 class="mt-4">Consulta de Serviços Prestados</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Consulta</li>
</ol>

<div class="container">
    <form  #consultarForm="ngForm" (submit)="consultar()">
        <!--MENSAGEM DE ALERTA -->
        <div class="alert alert-warning" role="alert" *ngIf="message">
            <strong>{{ message }}</strong>
        </div>

        <div class="row">

            <div class="col-md-5">            
                <label for="inputNome">Nome Cliente:</label>

                <input 
                 [(ngModel)]="nome"
                 class="form-control"
                 type="text"
                 name="nome"
                 id="inputNom">
            </div> 
            
            <div class="col-md-2">
                <label for="inputMes">Mês:</label>
                
                <select [(ngModel)]="mes" class="form-control" name="mes">
                    <option value="">Selecione...</option>
                    <option *ngFor="let mes of meses" [value]="mes">{{mes}}</option>
                </select>
            </div>
        </div>
        <br>

        <!--BOTAO DE PROCURA-->
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                    Procurar
                </button>

                <button type="submit" class="btn btn-warning ml-2" routerLink="/servicos-prestados/form">
                    <i class="fas fa-search"></i>
                    Cadastrar
                </button>

            </div>
        </div>
    </form>
<br/>
    
    <div class="row">
        <div class="col-md-12">
          
            <!--INICIO DA TABELA-->
            <table class="table">
                <thead> 
                    <tr>
                    
                        <th>Cliente</th>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Valor</th>

                    </tr>                 
                </thead>               
                <tbody>
                    <tr *ngFor="let l of lista">
                   
                            <td>{{ l.cliente.nome }}</td>
                            <td>{{ l.descricao }}</td>
                            <td>{{ l.data }}</td>
                            <td>{{ l.valor }}</td>                
                    
                    </tr>              
                </tbody>
            </table>

        </div>
    </div>

   
</div>